<!DOCTYPE html>
<html>
<head>
	<title>express4</title>
	<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<style type="text/css">
		.center {
			text-align: center;
		}
		input,textarea {width: 350px }
		input[type=submit] {
			width: 100px;
			margin-left: 250px;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">My website</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
                 </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
   
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
      	<% articles.forEach(function(article) { %>
      	 <div class="col-md-4">
          <h2> <%= article.name %> </h2>
          <p> <%= article.body %> </p>
          <p><a class="btn btn-default" href="/<%= article.id %>" role="button">View details &raquo;</a></p>
        </div>
      	<% }) %>
       
       
      </div>

       <hr>
	    <section class="center">
	    	<h3>Contact Form</h3>
	    	<input type="text" name="name" placeholder="Name" id="name">
	    	<br>
	    	<br>
	    	<input type="email" name="email" placeholder="Email">
	    	<br>
	    	<br>
	    	<input type="number" name="phoneNum" placeholder="Mobile Number">
	    	<br>
	    	<br>
	    	<input type="text" name="subject" placeholder="Subject">
	    	<br>
	    	<br>
	    	<textarea name="text" rows="5" placeholder="Message"></textarea>
	    	<br>
	    	<br>
	    	<input type="submit" value="Submit Form" class="btn btn-primary">
	    </section>
	    <hr>

      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->
</body>
</html>